body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #8d8e8a;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.visible {
  display: block;
  color: #fff
}

.visibleLink {
  display: block;
}


@media only screen and (max-width: 900px){
  .notvisible {
    display: none;
  }
}